URxvt.foreground: green
URxvt.background: black
URxvt.scrollstyle: xterm
URxvt.scrollBar_right: true
XTerm.foreground: green
XTerm.background: black
XTerm.scrollstyle: xterm
XTerm.scrollBar_right: true
battery*wireless: False
battery*disk: False
battery*load: False
battery*cpu: False
battery*mem: False
battery*swap: False
battery*page: False
battery*net: False
battery*batteryLeftColor: blue
battery*batteryUsedColor: yellow
battery*batteryChargeColor: green
battery*batteryLowColor: red
battery*background: black
battery*captions: False
